body {
  margin: 0;
  padding: 0;
  background: #5e717a;
  font-family: "Open Sans", sans-serif;
}

nav {
  /* background-color: rgb(151, 150, 228); */
  border-bottom: 1px solid rgba(26, 24, 24, 0.377);
  border-width: 50%;
  background: linear-gradient(0deg, #5e717a, rgb(156, 192, 123));
  height: 60px;
  display: flex;
  justify-content: end;
}


nav ul {
  position: absolute;
  top:0.8%;
  /* left:10%; */
  margin: 0;
  padding: 0 2%;
  display: flex;
  /* border: 1px solid red */
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, rgb(162, 212, 116), rgb(31, 3, 3));
  transition: 0.5s;
}

ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /* text-decoration: none; */
}

ul li a .fab {
  width: 100%;
  /* height: 100%; */
  display: block;
  background: linear-gradient(0deg, rgb(36, 22, 22), rgb(151, 150, 228));
  border-radius: 50%;
  line-height: calc(50px - 12px);
  font-size: 24px;
  color: #83b15d;
  transition: 0.5s;
}

ul li:nth-child(1) a:hover .fab {
  color: #072e83;
}

ul li:nth-child(2) a:hover .fab {
  color: #007bb6;
}

ul li:nth-child(3) a:hover .fab {
  color: #e4405f;
}

ul li:nth-child(4) a:hover .fab {
  color: #dd4b39;
}

/* All Heading*/

.container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  padding: 0 5%;
}

.mainHeading {
  font-weight: 600;
  padding: 1% 4%;
}
.innerTitle {
  position: absolute;
}

.innerTitle a {
  margin-top: 5%;
  display: none;
  text-align: left;
  text-decoration: none;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.555);
  font-size:14px;
}

.mainHeading:hover .innerTitle a {
  margin-top: 5%;
  display: block;
}

.innerTitle:nth-child(1) {
  margin-top: 1%;
}
